<!DOCTYPE html>
<html lang="id" xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{'be-user/head' :: head}"></div>

<body>
	<!-- tap on top start -->
	<div class="tap-top">
		<span class="lnr lnr-chevron-up"></span>
	</div>
	<!-- tap on tap end -->

	<!-- page-wrapper start -->
	<div class="page-wrapper compact-wrapper dark-sidebar" id="pageWrapper">
		<!-- Page Header start -->
		<div th:replace="~{'be-user/header' :: header}"></div>
		<!-- Page Header end -->

		<!-- Page Body start -->
		<div class="page-body-wrapper">
			<!-- Page Sidebar Start-->
			<div th:replace="~{'be-user/sidebar' :: sidebar}"></div>
			<!-- Page Sidebar Ends-->

			<div class="page-body">
				<div class="title-header">
					<h5>Change Password</h5>
				</div>

				<!-- New Product Add Start -->
				<form th:action="@{/user/changePassword}" th:object="${changeUser}" method="post"
					enctype="multipart/form-data">
					<div class="container-fluid">
						<div class="row">
							<div class="col-12">
								<div class="row">
									<div class="col-sm-12">
										<div th:if="${successMessage}" class="alert alert-success" role="alert">
											<span th:text="${successMessage}"></span>
										</div>
										<div class="card">
											<div class="card-body">
												<div class="card-header-2">
													<h5>Change Password</h5>
												</div>
												<div class="theme-form theme-form-2 mega-form">
													<div class="row">
														<div class="mb-4 row align-items-center">
															<label class="form-label-title col-sm-2 mb-0">Email</label>
															<div class="col-sm-10">
																<input class="form-control" type="text"
																	th:field="*{email}" id="email" name="email"
																	th:value="${changeUser.email}" readonly required>
															</div>
														</div>
													</div>
												</div>
												<div class="theme-form theme-form-2 mega-form">
													<div class="row">
														<div class="mb-4 row align-items-center">
															<label class="form-label-title col-sm-2 mb-0">Old
																Password</label>
															<div class="col-sm-10">
																<input class="form-control" type="password"
																	id="oldPassword" name="oldPassword" required>
																<div th:if="${errorMessage}" class="alert alert-danger"
																	role="alert">
																	<span th:text="${errorMessage}"></span>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="theme-form theme-form-2 mega-form">
													<div class="row">
														<div class="mb-4 row align-items-center">
															<label class="form-label-title col-sm-2 mb-0">New
																Password</label>
															<div class="col-sm-10">
																<input class="form-control" type="password"
																	th:field="*{password}" id="password" name="password"
																	required>
																<div th:if="${#fields.hasErrors('password')}"
																	th:errors="*{password}" class="alert alert-danger">
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>

										<div class="card">
											<div class="card-body">

												<div class="theme-form theme-form-2 mega-form">
													<div class="row">
														<div class="col-12">
															<div class="row">
																<button type="submit"
																	class="btn btn-success float-right">
																	<i class="fas fa-plus-square">Update</i>
																</button>
																<hr>
																<a th:href="@{/user/home}"
																	class="btn btn-primary float-left"><i
																		class="fas fa-angle-left">Back</i></a>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>

									</div>
								</div>
							</div>
						</div>
					</div>
				</form>
				<!-- New Product Add End -->

				<!-- footer Start -->
				<div th:replace="~{'be-user/footer' :: footer}"></div>
				<!-- footer En -->
			</div>
			<!-- Container-fluid End -->
		</div>
		<!-- Page Body End -->
	</div>
	<!-- page-wrapper End -->

	<!-- Modal Start -->
	<div th:replace="~{'be-user/modal' :: modal}"></div>
	<!-- Modal End -->

	<div th:replace="~{'be-user/script' :: script}"></div>

	<script>
		ClassicEditor
			.create(document.querySelector('#deskripsi'))
			.then(deskripsi => {
				console.log(deskripsi);
			})
			.catch(error => {
				console.error(deskripsi);
			});
	</script>

</body>

</html>