<!DOCTYPE html>
<html lang="id" xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{'be/head' :: head}"></div>

<body>
	<!-- tap on top start -->
	<div class="tap-top">
		<span class="lnr lnr-chevron-up"></span>
	</div>
	<!-- tap on tap end -->

	<!-- page-wrapper start -->
	<div class="page-wrapper compact-wrapper dark-sidebar" id="pageWrapper">
		<!-- Page Header start -->
		<div th:replace="~{'be/header' :: header}"></div>
		<!-- Page Header end -->

		<!-- Page Body start -->
		<div class="page-body-wrapper">
			<!-- Page Sidebar Start-->
			<div th:replace="~{'be/sidebar' :: sidebar}"></div>
			<!-- Page Sidebar Ends-->

			<div class="page-body">
				<div class="title-header">
					<h5>Add New Province</h5>
				</div>

				<!-- New Product Add Start -->
				<form th:action="@{/province/submit}" th:object="${addNewProvince}"
					method="post" enctype="multipart/form-data">
					<div class="container-fluid">
						<div class="row">
							<div class="col-12">
								<div class="row">
									<div class="col-sm-12">
										<div class="card">
											<div class="card-body">
												<div class="card-header-2">
													<h5>Province Information</h5>
												</div>

												<div class="theme-form theme-form-2 mega-form">
													<div class="row">
														<div class="mb-4 row align-items-center">
															<label class="form-label-title col-sm-2 mb-0">Province</label>
															<div class="col-sm-10">
																<input class="form-control" type="text"
																	placeholder="Province" th:field="*{name}"
																	id="name">
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>

										<div class="card">
											<div class="card-body">

												<div class="theme-form theme-form-2 mega-form">
													<div class="row">
														<div class="col-12">
															<div class="row">
																<button type="submit"
																	class="btn btn-success float-right">
																	<i class="fas fa-plus-square">Add</i>
																</button>
																<hr>
																<a th:href="@{/product/list}"
																	class="btn btn-primary float-left"><i
																	class="fas fa-angle-left">Back</i></a>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>

									</div>
								</div>
							</div>
						</div>
					</div>
				</form>
				<!-- New Product Add End -->

				<!-- footer Start -->
				<div th:replace="~{'be/footer' :: footer}"></div>
				<!-- footer En -->
			</div>
			<!-- Container-fluid End -->
		</div>
		<!-- Page Body End -->
	</div>
	<!-- page-wrapper End -->

	<!-- Modal Start -->
	<div th:replace="~{'be/modal' :: modal}"></div>
	<!-- Modal End -->

	<div th:replace="~{'be/script' :: script}"></div>

</body>

</html>