<!DOCTYPE html>
<html lang="id" xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{'be-admin/head' :: head}"></div>

<body>
	<!-- tap on top start-->
	<div class="tap-top">
		<span class="lnr lnr-chevron-up"></span>
	</div>
	<!-- tap on tap end-->

	<!-- page-wrapper Start-->
	<div class="page-wrapper compact-wrapper dark-sidebar" id="pageWrapper">
		<!-- Page Header Start-->
		<div th:replace="~{'be-admin/header' :: header}"></div>
		<!-- Page Header Ends-->

		<!-- Page Body Start-->
		<div class="page-body-wrapper">
			<!-- Page Sidebar Start-->
			<div th:replace="~{'be-admin/sidebar' :: sidebar}"></div>
			<!-- Page Sidebar Ends-->

			<!-- Container-fluid starts-->
			<div class="page-body">
				<div class="title-header">
					<h5>Pie Chart</h5>
				</div>

				<div class="container-fluid">
					<div class="row">
						<div class="col-sm-12">
							<div class="card">
								<div class="card-body">
									<div class="container">
										<canvas id="myChart"></canvas>
									</div>
								</div>


							</div>
						</div>
					</div>
				</div>
				<!-- Container-fluid Ends-->

				<div th:replace="~{'be-admin/footer' :: footer}"></div>
			</div>
		</div>
	</div>
	<!-- page-wrapper End-->

	<!-- Modal Start -->
	<div th:replace="~{'be-admin/modal' :: modal}"></div>
	<!-- Modal End -->

	<div th:replace="~{'be-admin/script' :: script}"></div>
	<script th:inline="javascript">
		/* Skrip JavaScript untuk membuat chart */
		var labels = /*[[${labels}]]*/[];
		var data = /*[[${data}]]*/[];

		var ctx = document.getElementById('myChart').getContext('2d');
		var myChart = new Chart(ctx, {
			type: 'pie',
			data: {
				labels: labels,
				/*labels: ["Januari", "Februari", "Maret", "April", "Mei", "Juni", "Juli", "Agustus", "September", "Oktober", "November", "Desember"],*/
				datasets: [{
					label: 'Dataset Label',
					data: data,
					backgroundColor: [
						'rgba(166, 7, 7)',
						'rgba(166, 92, 7)',
						'rgba(184, 184, 6)',
						'rgba(189, 52, 235)',
						'rgba(7, 17, 166)',
						'rgba(7, 166, 55)'
					],
					borderColor: "transparent"
				}]
			},
			options: {
				maintainAspectRatio: false,
				cutoutPercentage: 65,
			}
		});
	</script>
</body>

</html>